@using RThomaz.Data
@using RThomaz.Web.Content.Resources
@using RThomaz.Web.Models
@using RThomaz.Web.Resources

@model BancoIndexModel
     
@{
    ViewBag.Title = String.Format(CommonResource.ViewBagTitle, Model.Title);
}
           
@using (Html.BeginForm("Index", (string)Model.ControllerName + @"/", FormMethod.Post, new { enctype = "multipart/form-data" }))
{  
    <fieldset>
        
        @Html.Partial("_IndexHeaderLayout")         

        <table class="IndexDataTableStyle">
            <thead class="IndexDataTableTheadStyle">
                <tr>
                    <th>
                        @CommonResource.FieldIdTitle
                    </th>
                    <th>
                        @BancoResource.NomeTitle
                    </th>
                    <th>
                        @BancoResource.NumeroTitle
                    </th>
                    <th></th>          
                </tr>
            </thead>
            <tbody>
                @{var alternativeRow = false; }
                @foreach (var item in Model.PagedList.Entities)
                {
                    var rowClass = !alternativeRow ? "IndexDataTableTrNormalStyle" : "IndexDataTableTrAlternativeStyle";
                    alternativeRow = !alternativeRow;
                    
                    <tr class="@rowClass">
                        <td class="IndexDataTableTdIdStyle">
                            @item.BancoId.ToString(CommonResource.FieldIdFormat)
                        </td>
                        <td>
                            @item.Nome
                        </td> 
                        <td>
                            @item.Numero
                        </td> 
                        <td class="IndexDataTableTdDetailStyle">
                            @Html.ActionLink(IndexContentResource.EditButtonTitle, "Detail", new { id = item.BancoId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("_IndexFooterLayout")

        <input onclick="window.location='@Url.Action("Detail", Model.ControllerName)'" type="button" value="@CommonResource.ButtonNewTitle" class="buttonSmall"/>  

    </fieldset>
}
